<!--
=================================
Huong dan thuc hanh: hien thi du lieu lazada tu mysql len web
file: index.html
day la file giao dien (front end) dung de hien thi san pham
====================================
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!--tieu de tab trinh duyet-->
        <title>San pham lazada</title>
    </head>
    <body>
        <!--tieu de trang web-->
        <h1>San pham lazada</h1>



        <!--
        ===================================
        VONG LAP {% for p in products %}
        - day la cu phap Jinja2 (template engine cua flask)
        - flask gui vao bien "products" ( danh sach san pham tu db)
        - moi san pham p tuong ung 1 dong du lieu tu mysql
        - vong lap nay se lap lai khoi html ben trong cho tung san pham
        ======================================
        -->
        {% for p in products %}

        <!--
        moi san pham = 1 the <div> 
            css inline de:
            - vien san pham (border)
            - khoang cach (margin)
            - canh the nam ngang (float:left)
            -  do rong (width)
            -->
            <div style="border:1px solid #ccc; padding:10px; width:250px; margin:10px; float:left;">

                <!--Hien thi anh san pham
                p.img: du lieu lay tu mysql -> do flask truyen vao -->
                <img src="{{ p.img}}" width="200">

                <!--Hien thi ten san pham -->
                <h3>{{ p.title }}</h3>

                <!--Hien thi gia san pham-->
                <p>Gia: {{ p.price }}</p>

                <!--Hien thi so luong da ban-->
                <p>Da ban: {{ p.sold }}</p>

                <!--Hien thi diem danh gia-->
                <p>Danh gia: {{ p.rating }}</p>

                <!--link xem chi tiet tren lazada
                target="_blank" de mo link trong tab moi-->
                <a href="{{ p.link }}" target="_blank">Xem san pham</a>
            </div>
        {% endfor %}
        <!--ket thuc vong lap-->
                
    </body>
</html>